[submodule "src/external/http-parser"]
	path = src/external/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "src/external/skiplist"]
	path = src/external/skiplist
	url = https://github.com/silentbicycle/skiplist.git
[submodule "src/external/multipart-parser-c"]
	path = src/external/multipart-parser-c
	url = https://github.com/iafonov/multipart-parser-c.git
