# Created by .gitignore support plugin (hsz.mobi)
### CMake template
CMakeCache.txt
CMakeFiles
Makefile
Makefile.*
mkinstalldirs
cmake_install.cmake
install_manifest.txt


### gcov
coverage.*
*.gcov
*.gcno
*.gcda


### C template
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lai
*.lo
*.loT

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Other

.deps


### Autotools template
# http://www.gnu.org/software/automake

*.in

# http://www.gnu.org/software/autoconf

autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
stamp-h1
acinclude*
config.sub
ltmain.sh
libtool

### NetBeans template
nbproject
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


### SublimeText template
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json


### vim template
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### Composer template
composer.phar
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock


### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml
## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

### phpize
config.*
!config.m4
run-tests.php


### Custom

prev
ionstorm
src/external
src/"  # wtf?